@tailwind base;
@tailwind components;
@tailwind utilities;


.template {
    margin: 0;
    display: grid;
    grid-template-columns:  20rem 1fr;
    gap: 2rem;
    min-height: 200vh;
}

@layer components {
    .action-buttons {
        @apply h-7 hover:scale-125 transition-transform duration-200 ease-out cursor-pointer
    }
}