@tailwind base;
@tailwind components;
@tailwind utilities;


/* .template {
    margin: 0;
    display: grid;
    grid-template-columns: 21rem 1fr 1fr;
    gap: 2rem;
    min-height: 200vh;
} */

@layer components {
    .action-buttons {
        @apply h-6 w-6 hover:text-gray-400 transition-transform duration-200 ease-out cursor-pointer text-8xl
    }
}